.leave{
    margin-top: 1rem;
}

.name-email{
    margin-bottom: 2rem;
}

.user-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}